.accesslevels{
    .nav{
        &-link{
            font-size: 14px;
            &.active{
                font-weight: 600;
                border-bottom: 3px solid $blue !important;
            }
        }
    }
    .tab-pane{
        .bg-blue{
            height: 89px;
        }

        .container{
            margin-top: -60px;
        }
    }
    
}