.contacts{
    @extend .pages;

    form{
        .form-control{
            color: #000;
            font: {
                size: 14px;
                weight: 600;
            }

            &::placeholder{
                color: #000;
            }

            &:focus{
                outline: none;
                box-shadow: none;
            }
        }

        input{
            padding: 20px;
            height: 40px;
        }

        select{
            height: 40px;
        }

        textarea{
            border-radius: 20px;
            padding: 20px;
        }
    }

    .pages-subtitle{
        font-size: 34px;
    }
}