.differential{
    .owl-stage{
        min-height: 600px;
    }
    .card{
        width: 97%;
        min-height: 550px;
        transition: .5s all;
        box-shadow: 10px 10px $blue;

        object{
            width: 70px;
        }

        &-title{
            font: {
                size: 19px;
                weight: 600;
            }
            color: $blue;
        }

        &-text{
            color: $blue;
        }

        @include media-breakpoint-up(lg){
            min-height: 450px;
        }
    }
}