.education{
    .card{
        &-header{
            &.bg-red{
                background-color: #AF2332;
            }
            
            .card-text{
                font: {
                    size: 33px;
                    weight: 500;
                }

                @include media-breakpoint-down(md){
                    width: 60%;
                }

                @include media-breakpoint-up(lg){
                    font-size: 27px;
                }
            }

            &.bg-red{
                @include media-breakpoint-up(lg){
                    background-color:transparent !important;
                    border: none {
                        top: 4px solid $red;
                        radius: 0;
                    }
                    height: 116px;

                    h1{
                        color: $red !important;
                    }
                }
            }

            &.bg-blue{
                @include media-breakpoint-up(lg){
                    background-color:transparent !important;
                    border: none {
                        top: 4px solid $blue;
                        radius: 0;
                    }
                    height: 116px;

                    h1{
                        color: $blue !important;
                    }
                }
            }
        }   

        &-body{
            background: {
                position: 33%;
                repeat: no-repeat;
                size: cover;
            }

            height: 400px;
        }
    }
}