footer{
    background-color: #393939;

    p{
        font: {
            size: 16px;
            weight: 300;
        }
    }

    .nav-link{
        font: {
            size: 14px;
            weight: 600;
        }
    }

    .footer{
        p{
            font-size: 10px;
        }

        &-mobile{
            z-index: 9999;
            bottom: 2rem;

            &-bg{
                background-color: $red;
            }
        }

        @include media-breakpoint-up(lg){
            p{
                font-size: 12px;
            }

            .nav{
                width: 55%;
            }
        }
    }
}