header{
    .offcanvas{
        background-color: $blue;

        .nav{
            &-item{
                width: 50%;
                text-align: center;
                .btn{
                    font-size: 15px;
                    background-color: $red;
                    width: 93%;
                    padding: 7px;
                }
            }
            &-link{
                font-size: 20px;

                &.btn{
                    background-color: $red;
                }
            }
        }
    }

    .navbar{
        .nav-link{
            width: 145px;

            &-login{
                background-color: $red;
            }

            @include media-breakpoint-only(md){
                padding: {
                    top: 12px;
                    bottom: 12px;
                }
            }
        }
    }

    @include media-breakpoint-up(md) { 
        background-color: $blue;
        .nav-link{
            width: 100%;
        }
    }
}