.pages{
    @extend .about;

    &-title{
        font-size: 30px;
    }

    .card{
        ul{
            list-style-image: url('/images/icons/dot_list.svg');
            padding: {
                inline-start: 14px;
            }
        }

        &-body{
            border: 3px solid #af3436 {
                style: dashed;
                top: none;
                bottom: none;
                right: none;
            }
        }
    }
}