.units{
    &-tabs{
        padding-top: 13rem;
        // background-color: $blue;

        .tab{
            &-pane{
                
                &-img{
                    margin-top: -34pc;

                    &-bg{
                        height: 430px;
                        background: {
                            position: center;
                            size: cover;
                            repeat: no-repeat;
                        }

                        @include media-breakpoint-up(lg){
                            width: 122% !important;
                            position: absolute;
                            height: 300px;
                        }
                    }

                    @include media-breakpoint-up(lg){
                        margin-top: -20pc;
                        z-index: -1;
                    }
                    
                }

                .padding{
                    padding-top: 9rem;

                    @include media-breakpoint-up(lg){
                        padding-top: 20rem;
                        .nav-option{
                            width: 50%;
                        }
                    }    
                }

                .nav-item{
                    img{
                        width: 30px;
                    }
                }
            }
        }

        .nav-pills{
            padding-top: 15rem;
        }

        .nav-pills{
            .nav{
                &-item{
                    @include media-breakpoint-down(lg){
                        width: 50%;
                    }
                }

                &-link{
                    width: 100%;
                    height: 65px;

                    &.active{
                        border-color: $red !important;
                    }
                }
            }
        }
    }
}