// Fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Owl Carousel
@import '~owl.carousel/dist/assets/owl.carousel.min.css';
@import '~owl.carousel/dist/assets/owl.theme.default.min.css';


@import 'about';
@import 'education';
@import 'differentials';
@import 'units';
@import 'footer';
@import "hamburgers/hamburgers.scss";
@import 'header';
@import 'pages';
@import 'contacts';
@import 'accesslevels';


.bg-blue{
    background-color: $blue !important;
}
.bg-red{
    background-color: $red !important;
}

#dot-slide{
    @media(max-width: 767px) {
        display: none;
    }
}

.hamburger{
    position: relative;
    margin: {
        bottom: -16px;
    }
    padding: 0;

    &-inner{
        background-color: #fff;
        &::after, &::before{
            background-color: #fff;
        }
    }

}
